<div class="breadcrumbs">
	<a href="/{{level1}}/">{{level1}}</a>
	<span class="icon ion-chevron-right"></span>
	<a href="/{{level1}}/{{level2}}/">{{level2}}</a>
	{{#if isLevel3}}
	<span class="icon ion-chevron-right"></span>
	<span>{{this.title}}</span>
	{{/if}}
</div>