<div class="breadcrumbs">
	<a href="/{{nav.level1}}">{{nav.level1}}</a>
	<span class="icon ion-chevron-right"></span>
	<a href="/{{nav.level1}}/{{nav.level2}}">{{nav.level2}}</a>
	<span class="icon ion-chevron-right"></span>
	<span>{{nav.level3}}</span>
</div>