<link rel="stylesheet" type="text/css" href="{{asset 'css/overview.css'}}">

<section class="section-overview">
	<div class="wrapper">
		<h1>{{level1}}</h1>
		{{#each tree }}
			<h2><a href="/{{@root.level1}}/{{this.name}}">{{this.name}}</a></h2>
			<div class="categories {{this.name}}">
			<div class="entries {{this.name}}">
					<h3 class="{{this.name}}">{{this.name}}</h3>
					{{#each this.children}}
					<a href="{{link this.indexPath}}">{{this.title}}</a>
					{{/each}}
			</div>
			</div>
		{{/each}}
	</div>
</section>