<link rel="stylesheet" type="text/css" href="{{asset 'css/overview.css'}}">

<section class="section-overview">
	<div class="wrapper">
		<h1><a href="../">{{level1}}</a> - {{level2}}</h1>
		<div class="categories">
		<div class="entries {{@key}}">
		{{#each data}}
				<h3 class="@key">{{@key}}</h3>
				<a href="{{link indexPath}}">{{title}}</a>
		{{/each}}
		</div>
		</div>
	</div>
</section>