<link rel="stylesheet" type="text/css" href="{{asset 'css/overview.css'}}">

<section class="section-overview">
	<div class="wrapper">
		<h1>{{level1}}</h1>
		{{#each data}}
			<h2><a href="/{{@root.level1}}/{{@key}}">{{@key}}</a></h2>
			<div class="categories {{@key}}">
			<div class="entries {{@key}}">
					<h3 class="{{@key}}">{{@key}}</h3>
			{{#each this}}
					<a href="{{link path}}">{{title}}</a>
			{{/each}}
			</div>
			</div>
		{{/each}}
	</div>
</section>