<ul class="links">
	<li {{#if type.install}}class="active"{{/if}}>
		<a href="{{link 'install/'}}">install</a>
	</li>

	<li {{#if type.tutorials}}class="active"{{/if}}>
		<a href="{{link 'tutorials/'}}">tutorials</a>
	</li>

	<li {{#if type.docs}}class="active"{{/if}}>
		<a href="{{link 'docs/'}}">docs</a>
	</li>

	<li {{#if type.blog}}class="active"{{/if}}>
		<a href="{{link 'blog/'}}">blog</a>
	</li>

	<li {{#if type.info}}class="active"{{/if}}>
		<a href="{{link 'info/'}}">info</a>
	</li>
	<li class="search main-search-container">
		<span>
			<input type="text" class="main-search">
		</span>
	</li>

</ul>
