<ul class="links">
	<li {{#if isinstall}}class="active"{{/if}}>
		<a href="{{link 'install/'}}">install</a>
	</li>

	<li {{#if istutorials}}class="active"{{/if}}>
		<a href="{{link 'tutorials/'}}">tutorials</a>
	</li>

	<li {{#if isdocs}}class="active"{{/if}}>
		<a href="{{link 'docs/'}}">docs</a>
	</li>

	<li {{#if isblog}}class="active"{{/if}}>
		<a href="{{link 'blog/'}}">blog</a>
	</li>

	<li {{#if isinfo}}class="active"{{/if}}>
		<a href="{{link 'info/'}}">info</a>
	</li>

</ul>
