<link rel="stylesheet" type="text/css" href="{{asset 'css/info/messagestructure.css'}}" />
<script type="text/javascript" src="{{asset 'js/info/messagestructure.js'}}"></script>

{{> specs-indepth}}

{{#each structures}}
	<div class="section">
		<h2>
			<a name="{{id}}">{{action}}</a>
		</h2>
		<div class="action-content">
			<p class="description">
				{{description}}
			</p>
			<table>
				<tbody>
					<tr>
						<td>
							Direction
						</td>
						<td>
							{{direction}}
						</td>
					</tr>
					<tr>
						<td>
							Message
						</td>
						<td>
							<span class="message-format">{{message}}</span>
						</td>
					</tr>
					{{#if ack}}
					<tr>
						<td>
							Ack
						</td>
						<td class="message-format">
							<span class="message-format">{{ack}}</span>
						</td>
					</tr>
					{{/if}}
				</tbody>
			</table>
		</div>
	</div>
{{/each}}