<ul class="tree-nav subsection">
	{{#each tree}}
		<li class="sub-section-container {{ifactive 'level2' 'open' @root @root.tree @index}}">
			<div class="sub-section-toggle">
				<span class="icon ion-chevron-right"></span>
				<span class="title">{{this.name}}</span>
			</div>
			<ul class="entry">
				{{#each this.children}}
					<li class="{{ifactive 'level3' 'active' @root @root.tree this.indexPath}}">
						<a href="{{link this.path}}" data-fetch="ajax">{{this.title}}</a>
					</li>
				{{/each}}
			</ul>
		</li>
	{{/each}}
</ul>
